@import 'var-framework';

@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.2;
  }
}

@mixin alerte($width,$background, $color, $padding) {
  width: 100%;
  padding-top: $padding;
  padding-bottom: $padding;
  text-align: center;
  background-color: $background;
  font-weight: bolder;
  color: $color;

  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.alerte {
  @include alerte(100%, $darkGrey, white, $pad);
}

.avertissement {
  @include alerte(100%, $darkGrey, white, $pad);
  background-color: $orange;
}

.succes {
  @include alerte(100%, $darkGrey, white, $pad);
  background-color: $green;
}

.info {
  @include alerte(100%, $darkGrey, white, $pad);
  background-color: $lightBlue;
}

.danger {
  @include alerte(100%, $darkGrey, white, $pad);
  background-color: $red;
}

