.breadcrumb {
  display: block;
  padding: $pad/2;
  margin:0;
  list-style-type: none;
  font-size: $size/1.2;
  text-align: left;



  li {
    display: inline-block;
    text-decoration: none;

    &:last-of-type{
      a{
        color: $lightBlue;
      }

      &:nth-child(1n+2) {

        a:before {
          content: " > ";
          color: $darkGrey;
        }
      }
    }
    a {
      color: $darkGrey;
      text-decoration: none;
    }

  }



}