@import 'var-framework';

%transition {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
%btn{
  border-color: transparent;

  position: relative;
  display: inline-block;

  margin: $marg auto $marg;
  padding: $pad;

  height: 3rem;
  font-size: $size*1.2;
  line-height: 0;

  cursor: pointer;
  vertical-align: middle;
}

@mixin bouton($color, $background, $border, $radius){
  @extend %btn;
  color: $color;
  -webkit-border-radius: $radius;
  -moz-border-radius:$radius;
  border-radius: $radius;
  border-color: $border;

  /* IE10+ */
  background: -ms-linear-gradient(top, lighten($background, 30%) 0%, $background 100%);

  /* Mozilla Firefox */
  background: -moz-linear-gradient(top, lighten($background, 30%) 0%, $background 100%);

  /* Opera */
  background: -o-linear-gradient(top, lighten($background, 30%) 0%, $background 100%);

  /* Webkit (Safari/Chrome 10) */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, lighten($background, 30%)), color-stop(100, $background));

  /* Webkit (Chrome 11+) */
  background: -webkit-linear-gradient(top, lighten($background, 30%) 0%, $background 100%);

  /* W3C Markup */
  background: linear-gradient(to bottom, lighten($background, 30%) 0%, $background 100%);

  &:hover {
    color: $background ;
@extend %transition;

    /* IE10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, lighten($color, 50%) 47%, $background 100%);

    /* Mozilla Firefox */
    background: -moz-linear-gradient(top, #ffffff 0%, lighten($color, 50%) 47%, $background 100%);

    /* Opera */
    background: -o-linear-gradient(top, #ffffff 0%, lighten($color, 50%) 47%, $background 100%);

    /* Webkit (Safari/Chrome 10) */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(47, lighten($color, 50%)), color-stop(100, $background));

    /* Webkit (Chrome 11+) */
    background: -webkit-linear-gradient(top, #ffffff 0%, lighten($color, 50%) 47%, $background 100%);

    /* W3C Markup */
    background: linear-gradient(to bottom, #ffffff 0%, lighten($color, 50%) 47%, $background 100%);
  }

  &:active {
    border:2px solid;
    border-color: $background;
  }
}
@mixin btnFlat($color, $background, $radius){
  @extend %btn;
  background: $background;
  color: $color;

  -webkit-border-radius: $radius;
  -moz-border-radius:$radius;
  border-radius: $radius;

  &:hover {
    @extend %transition;
    background: white;
    color: $background;
  }

  &:active {
    border-color: $background;
    border-style: solid;
    box-shadow: none;
  }
}
@mixin btnFancy($color, $background,$radius){
  @extend %btn;
  color:$color;
  background: $background;
  border:2px solid $background;

  -webkit-box-shadow: 0px 9px 0px darken($background, 30%);
  -moz-box-shadow: 0px 9px 0px darken($background, 30%);
  box-shadow: 0px 9px 0px darken($background, 30%);

  -webkit-border-radius: $radius;
  -moz-border-radius:$radius;
  border-radius: $radius;

  &:hover {
    @extend %transition;
    color :$background;
    background: white;
  }

  &:active {
    -webkit-box-shadow: 0px 2px 0px darken($background, 30%);
    -moz-box-shadow: 0px 2px 0px darken($background, 30%);
    box-shadow: 0px 2px 0px darken($background, 30%);
  }
}

.btn {
@include bouton(white, $lightGrey,transparent, 5px);
}

.btnDel {
  @include bouton(white, $red,transparent, 5px);
}

.btnVal {
  @include bouton(white, $green,transparent, 5px);
}

.btnNeutre {
  @include bouton(white, $lightBlue ,transparent, 5px);
}

.flat {
  @include btnFlat(white, $lightGrey, 5px);
}

.flatDel {
  @include btnFlat(white, $red, 5px);
}

.flatVal {
  @include btnFlat(white, $green, 5px);
}

.flatNeutre {
  @include btnFlat(white, $lightBlue, 5px);
}

.fancy {
@include btnFancy(white, $lightGrey, 5px);
}

.fancyDel {
  @include btnFancy(white, $red, 5px);
}

.fancyVal {
  @include btnFancy(white, $green, 5px);
}

.fancyNeutre {
  @include btnFancy(white, $lightBlue, 5px);
}


.btnSmall {
  height: 1rem;
  font-size: .6rem;
  padding: $pad/2;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btnLarge {
  height: 6rem ;
  font-size: $size*4 ;
  -webkit-border-radius: 13px ;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.xtra {
  display: block;
  width: 100%;
  margin-top: $marg*1.2;
  margin-bottom: $marg*1.2;
}
