header{
  text-align: justify;
  background-color: lighten($lightBlue, 22%) ;
  padding: $pad $pad*2;
  margin: auto;
  color:darken($darkGrey, 40%);
  border-bottom: 3px solid $lightBlue;

  @media screen and (max-width: 768px){
    padding:$pad;
    margin: auto;
    padding-bottom: $pad/2;
  }
}


