@import 'var-framework';

.jumbotron {
  background-color: $lightGrey;
  width: 90%;
  margin: auto;
  padding: $pad;
  text-align: center;
  border-bottom: solid darken($lightGrey, 15%);

  h2 {
    color:$darkGrey;
  }

  p {
    color:darken($darkGrey, 2%);
    text-align: center;
    padding-left: $pad+.5;
    padding-right: $pad+.5;
  }

  button {
    background-color: $green;
  }
}
