@import "compass/css3/box-sizing";


//param par def colonne
@mixin cols($marg) {
  margin: 0 $marg;
  @include box-sizing(border-box);
  //version inline-block
  display: inline-block;
  font-size: 12pt;
  color: white;
  background-color: #666666;
  text-align: center;
}


//Génère la grille
@mixin span($width:100%, $gutter:2%, $marg:$gutter/2) {

  $nbcol: 4;
  $widthcol: ($width - ($nbcol*$gutter))/$nbcol;

  @for $i from 1 through $nbcol {
    .span-small-#{$i} {
      @include cols($marg);
      width: (($i*$widthcol)+(($i - 1)*$gutter));
    }
  }

  @media screen and (min-width: 768px) {
    $nbcol: 8;
    $widthcol: ($width - ($nbcol*$gutter))/$nbcol;

    @for $i from 1 through $nbcol {
      .span-medium-#{$i} {
        @include cols($marg);
        width: (($i*$widthcol)+(($i - 1)*$gutter));
      }
    }
  }

  @media screen and (min-width: 1280px) {
  $nbcol: 12;
    $widthcol: ($width - ($nbcol*$gutter))/$nbcol;
  @for $i from 1 through $nbcol {
    .span-large-#{$i} {
      @include cols($marg);
      width: (($i*$widthcol)+(($i - 1)*$gutter));
    }
  }
}

  .container {
    font-size: 0;
  }

  .ligne {
    width: 100%;
    margin-bottom: .5%;
  }

}

//Offset
@mixin offset($width:100%, $gutter:2%, $marg:$gutter/2) {
  $nbcol: 4;
  $widthcol: ($width - ($nbcol*$gutter))/$nbcol;

  @for $j from 1 through ($nbcol - 1) {
    .offset-#{$j} {
      margin-left: $j*$widthcol + $j*$gutter + $marg;
    }
  }

  @media screen and (min-width: 768px) {
    $nbcol: 8;
    $widthcol: ($width - ($nbcol*$gutter))/$nbcol;

    @for $k from 1 through ($nbcol - 1) {
      .offset-#{$k} {
        margin-left: $k*$widthcol + $k*$gutter + $marg;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    $nbcol: 12;
    $widthcol: ($width - ($nbcol*$gutter))/$nbcol;

    @for $l from 1 through ($nbcol - 1) {
      .offset-#{$l} {
        margin-left: $l*$widthcol + $l*$gutter + $marg;
      }
    }
  }

  .container {
    font-size: 0;
  }

  .ligne {
    width: 100%;
    margin-bottom: .5%;
  }
}

//Taille d'une colonne
@mixin row-span($width:100%, $gutter:2%, $marg:$gutter/2, $col:1) {
  $nbcol: 4;
  $widthcol: ($width - ($nbcol*$gutter))/$nbcol;

  /*@if $col > $nbcol {
    $col : $nbcol;
  }*/

  @include cols($marg);
  width: ($col*$widthcol)+(($col - 1)*$gutter);


  @media screen and (min-width: 768px) {
    $nbcol: 8;
    $widthcol: ($width - ($nbcol*$gutter))/$nbcol;

    /*@if $col > $nbcol{
      $col : $nbcol;
    }*/

    @include cols($marg);
    width: ($col*$widthcol)+(($col - 1)*$gutter);
  }

  @media screen and (min-width: 1280px) {
    $nbcol: 12;
    $widthcol: ($width - ($nbcol*$gutter))/$nbcol;

    @if $col > $nbcol{
      $col : $nbcol;
    }

    @include cols($marg);
    width: ($col*$widthcol)+(($col - 1)*$gutter);
  }
}

