nav {
  z-index: 999;
  @media screen and (min-width: $tablette) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  ul, ul ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
  }

  ul {
    text-align: center;
    background-color: $lightBlue;

    @media screen and (min-width: $tablette) {
      position: absolute;
      width: 100%;
      background: transparentize($lightBlue, .1);
    }

    li {
      display: block;
      font-size: 1rem;
      @media screen and (min-width: $tablette) {
        width: 10rem;
      }

      @media screen and (min-width: $tablette) {
        display: inline-block;
        position: relative;
        top: 0;
      }

      &:hover > ul {
        display: block;
      }

      ul {
        display: none;
        @media screen and (max-width: $tablette) {
          display: block;
        }
      }
    }

    a {
      display: block;
      text-decoration: none;
      color: white;
      padding: $pad/2;

      &:hover {
        background: darken($lightBlue, 20);
      }
    }
  }

  ul ul li {
    display: inherit;
  }
}

.catMenu {
  @media screen and (max-width: $tablette) {
    display: none;
  }
}