@import 'var-framework';

h1 {
  font-size: $H1;
  margin-bottom: $H1;

  &.sub {
	color: $darkGrey;
	font-size: $H1/1.5;
  }
}

h2 {
  font-size: $H2;
  margin-bottom: $H2;

  &.sub {
	color: $darkGrey;
	font-size: $H2/1.5;
  }
}

h3 {
  font-size: $H3;
  margin-bottom: $H3;

  &.sub {
	color: $darkGrey;
	font-size: $H3/1.5;
  }
}

h4 {
  font-size: $H4;
  margin-bottom: $H4;

  &.sub {
	color: $darkGrey;
	font-size: $H4/1.5;
  }
}

h5 {
  font-size: $H5;
  margin-bottom: $H5;

  &.sub {
	color: $darkGrey;
	font-size: $H5/1.5;
  }
}

h6 {
  font-size: $size;
  margin-bottom: $size;

  &.sub {
	color: $darkGrey;
	font-size: $size/1.5;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;

  &>small {
	font-size: .8em ;
	color: $darkGrey;
  }
}

p {
  margin-bottom: $marg;
}

mark {
  background-color: $jaune;
}

del {
  color: $darkGrey;
}

ins {
  font-style: italic;
}

u {
  text-decoration: none;
  border-bottom: 2px $red dotted;
  font-style: oblique;
}

strong {
  font-weight: bolder;
}

em {
  text-decoration: underline;
}

/*abbr:hover:after {
	content: [title];
	}*/

blockquote {
  background: lighten($lightGrey, 5%);
  border-left: 10px solid lighten($darkGrey, 10%);
  margin: $marg+.5 $marg;
  padding: $pad/2 $pad;
 /* quotes: "\201C""\201D""\2018""\2019";*/

  &:before {
	color: lighten($darkGrey, 10%);
	content: open-quote;
	font-size: $size*3;
	line-height: 0.1em;
	margin-right: $marg/4;
	vertical-align: -0.4em;
  }

  p {
	display: inline;
	font-family: cursive;
  }
}

code {
  background-color: black;
  color: $lightGrey;
  display: block;
  padding: $pad;
  border-left: 10px solid $darkGrey;
  font-family: monospace;
  margin-bottom: $marg;
  margin-top: $marg;
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;

  @media screen and (max-width: 768px){
    overflow: scroll;
  }
}

pre {
  color: darken($darkGrey, 30%);
  font-family: monospace;
}

kbd {
  color: darken($darkGrey, 30%);
  font-family: serif;
  background-color: lighten($lightGrey, 5%);
  padding: $pad/3;
}

ul {
  list-style-type: disc;
  margin-left: $marg;

  li.disabled a, li.disabled a:hover {
	background-color: transparentize(lighten($lightGrey, 20%), .1);
	color: $lightGrey;
  }

  li.active a {
	border-bottom: 3px solid $lightBlue;
	font-weight: bold;
  }

}

.ulsquare {
  list-style-type: square;
}

.ulnostyle {
  list-style-type: none;
}

.alleft {
  text-align: left;
}

.alright {
  text-align: right;
}

.alcenter {
  text-align: center;
}

.aljustified {
  text-align: justify;
}

.smallcaps {
  font-variant: small-caps;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

table {
  margin: auto;

  th{
	padding: $pad;
	font-weight: bold;
  }

  td {
	padding: $pad;
  }
}

.tablealterne tr:nth-child(odd) {
  background-color: $lightGrey;
}

.tableborder th, .tableborder td{
  border : 1px black solid;
}

.tablehover tr:hover {
  background-color: $darkGrey;
}


