//COLOR
$darkGrey : #9a9f9f;
$lightGrey :#E6E7EE;
$orange : #EE8400;
$green: #b7df2d;
$lightBlue: #87CEEB;
$red: #e73827;
$jaune: #FFD900;

//MARGE INTERNE/EXTERNE
$pad: 1rem;
$marg: 1rem;

//FONT
$size : 1rem;
$H1 : 1.5rem;
$H2 : 1.4rem;
$H3: 1.3rem;
$H4: 1.2rem;
$H5: 1.1rem ;

$desktop: 60em;
$tablette: 40em;

