@import 'var-framework';
@import 'typo';
@import 'boutons';
@import 'alertes';
@import "navigation";
@import 'header';
@import 'jumbotron';
@import "ariane";
@import "pagination";


body {
	font-size: $size;
	padding: $pad;
	font-family: 'Helvetica', Arial, sans-serif;
}

#entete {
	margin-top: $marg*4;
}

#box div{
	text-align: center;
}


